
.validationForm{
    width: 50%;
    margin: auto;
}


#formTitle{
    text-align: center;
}

.formItems{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.labels{
    align-items: flex-end;
    width: 25%;
}

.inputs{
    align-items: flex-start;
}

